@import url(https://fonts.google.com/specimen/Roboto+Slab?subset=latin&noto.script=Latn);

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.container{
    font-size: 60vh;
    color: red;
    animation:3s ease infinite corazon;
    text-shadow:4px 4px 25px rgba(255, 0, 0, 0.6);
} 

.container .contenido{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    color: #fff;
    text-align:center;
    font-family:'galada';
}

.container .contenido h1{
    font-size: 20px;
    padding: 10px;
}

.container .contenido p{
    font-size: 10px;
    padding-top: 8px; 
}

@keyframes corazon{
    50%{
        transform: scale(1.3);
    }
}
